body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: transparent !important;
}

.auth {
  width: 400px;
}

.auth.card {
  background-color: transparent !important;
}

#video-background {
  min-width: 100% !important;
  min-height: 100vh !important;
}

.signup-footer {
  padding-top: 10px;
}

.landing-container {
  width: 600px;
  padding: 275px 100px;
}

.home-button-container {
  padding-left: 200px;
  padding-right: 200px;
}

.searchbar {
  margin-bottom: 50px;
}

.trip-detail {
  background-color: #f6f6f6;
  margin: 20px auto;
  max-width: 1200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
}

.trip-detail img {
  max-width: 100%;
  margin-bottom: 20px;
}
.trip-info div {
  margin-bottom: 15px;
}

.trip-info {
  display: block;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  border-top: 2px solid #ebebeb;
}

.a-tag {
  text-decoration: none;
}

strong {
  font-weight: bold !important;
}

.trip-info strong {
  font-size: 18px;
  font-family: "Arial";
}

.trip-form {
  font-size: 18px;
  font-family: "Arial";
}

.trip-location {
  font-family: "Arial";
}

.a-tag:hover {
  cursor: pointer;
}

.h {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gm-svpc div {
  margin-left: -20px;
  width: 40px;
  height: 40px;
}
